WCFApplicationC#/C#Application_WCF/RetailWebService/RetailWebService_Host/Connected Services/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfLaptop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laptop" nillable="true" type="tns:Laptop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaptop" nillable="true" type="tns:ArrayOfLaptop" />
  <xs:complexType name="Laptop">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Commodity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Laptop" nillable="true" type="tns:Laptop" />
  <xs:complexType name="Commodity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeRef" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commodity" nillable="true" type="tns:Commodity" />
</xs:schema>